<!-- Delete Patient Modal -->
{% for patient in page_obj  %}
<div class="modal fade" id="deletePatientModal{{ patient.id }}" tabindex="-1" role="dialog" aria-labelledby="deletePatientModalLabel{{ patient.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePatientModalLabel{{ patient.id }}">Delete Patient: {{ patient.name }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'delete_patient' patient.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure you want to delete {{ patient.name }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete Patient</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}