{% extends "base.html" %}

{% block title %}Add Medicine{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0">
                <div class="card-body p-4">
                    <h1 class="text-center add-medicine-heading">Add Medicine</h1>
                    <hr class="hr-style mb-4">

                    <!-- Display success messages -->
                    {% if messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}

                    <form method="POST" class="mt-4">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name" class="form-label">Medicine Name:</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Enter the medicine name" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="quantity" class="form-label">Quantity:</label>
                            <input type="number" id="quantity" name="quantity" class="form-control" placeholder="Enter the quantity" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="company_name" class="form-label">Company Name:</label>
                            <input type="text" id="company_name" name="company_name" class="form-control" placeholder="Enter the company name" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="mr_number" class="form-label">MR Number:</label>
                            <input type="text" id="mr_number" name="mr_number" class="form-control" placeholder="Enter the MR Name and Number" required>
                        </div>
                        <div class="form-group mt-4 text-center">
                            <button type="submit" class="btn btn-submit btn-lg">Add Medicine</button>
                        </div>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}
