{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="text-center mt-4">
    <h1 class="display-4 text-primary">Welcome to Skinmitra Clinic Inventory</h1>
    <p class="lead text-muted">Streamline your clinic's inventory management and maintain optimal stock levels effortlessly.</p>
</div>

<div class="row mt-5 justify-content-center">
    <div class="col-md-3 mb-4">
        <div class="card tile-card" style="height: 200px;"> 
            <div class="card-body text-center">
                <h5 class="card-title text-primary"><i class="fas fa-boxes fa-2x mb-3"></i></h5>
                <h5 class="card-title text-primary">Available Stock</h5>
                <p class="card-text text-muted">Browse all medicines currently in stock and monitor availability.</p>
                <a href="/available_stock/" class="btn btn-primary btn-block">View Stock</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card tile-card" style="height: 200px;"> 
            <div class="card-body text-center">
                <h5 class="card-title text-primary"><i class="fas fa-exclamation-triangle fa-2x mb-3"></i></h5>
                <h5 class="card-title text-primary">Low Stock</h5>
                <p class="card-text text-muted">Identify medicines with low quantities and prioritize restocking.</p>
                <a href="/low_stock/" class="btn btn-primary btn-block">View Low Stock</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card tile-card" style="height: 200px;"> 
            <div class="card-body text-center">
                <h5 class="card-title text-primary"><i class="fas fa-plus-circle fa-2x mb-3"></i></h5>
                <h5 class="card-title text-primary">Add or Update Medicines</h5>
                <p class="card-text text-muted">Add new or update medicines to the inventory quickly and efficiently.</p>
                <a href="/add_medicine/" class="btn btn-primary btn-block">Add or Update Medicines</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card tile-card" style="height: 200px;"> 
            <div class="card-body text-center">
                <h5 class="card-title text-primary"><i class="fas fa-users fa-2x mb-3"></i></h5>
                <h5 class="card-title text-primary">Patient Details</h5>
                <p class="card-text text-muted">Maintain an up-to-date record of patient information for streamlined care.</p>
                <a href="/patient_details/" class="btn btn-primary btn-block">Manage Patients</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card tile-card" style="height: 200px;"> 
            <div class="card-body text-center">
                <h5 class="card-title text-primary"><i class="fas fa-pills fa-2x mb-3"></i></h5>
                <h5 class="card-title text-primary">Dispense Medication</h5>
                <p class="card-text text-muted">Track medication dispensed to patients and ensure accurate inventory adjustments.</p>
                <a href="/dispense_medication/" class="btn btn-primary btn-block">Dispense Medication</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card tile-card" style="height: 200px;"> 
            <div class="card-body text-center">
                <h5 class="card-title text-primary"><i class="fas fa-history fa-2x mb-3"></i></h5>
                <h5 class="card-title text-primary">Dispensing History</h5>
                <p class="card-text text-muted">Review Dispensing History, including updates and transactions.</p>
                <a href="/dispensing-history/" class="btn btn-primary btn-block">View Dispensing History</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
